<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/theme/theme.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>
  <body ng-controller="ToDoListController as toDoCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">To Do List</div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <form class="form-inline col-md-6 col-md-offset-3">
          <div class="input-group col-md-12 input-group-lg">
            <input type="text" class="form-control" id="taskEntryBox" ng-model="toDoCtrl.newTask" placeholder="Enter your task...">
            <span class="input-group-btn">
              <button class="btn btn-success" ng-click="toDoCtrl.addTask()"><i class="glyphicon glyphicon-pencil"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <p>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="list-unstyled">
            <li ng-repeat="task in toDoCtrl.tasks">
              <div ng-hide="toDoCtrl.editorEnabled">
                <a href="#" class="glyphicon glyphicon-unchecked" ng-click=></a>
                {{task.task}}
                <a href="#" ng-click="toDoCtrl.enableEditor(task.task)" class="glyphicon glyphicon-edit"></a>
                <a href="#" class="glyphicon glyphicon-bin"></a>
              </div>
              <div ng-show="toDoCtrl.editorEnabled">
                <input ng-model="toDoCtrl.editableTask" ng-show="toDoCtrl.editorEnabled">
                <a href="#" ng-click="toDoCtrl.editTask()" class="glyphicon glyphicon-ok"></a>
                <a href="#" ng-click="toDoCtrl.disableEditor()" class="glyphicon glyphicon-remove"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
